.App {
  background: #1e2228;
  min-height: 100vh;
}

.app-header {
  text-align: center;
  background: #060c1e;
  padding-top: 10px;
  padding-bottom: 10px;
}

#text-react {
  display: inline;
  color: #b2f6ff;
  font-size: 50px;
  margin-right: 15px;
}

#text-nodejs {
  display: inline;
  color: #60b230;
  font-size: 50px;
}

.header-subtitle {
  color: white;
  font-size: 20px;
}

.App-link {
  color: #61dafb;
}

/* We need to calculate the height of the content below the header(112px)
 * Using only 100vh will make the form as tall as the viewport, which 
 * when combined with the header, will add unneccesary scroll bars
 */
.page-content-wrapper {
  height: calc(100vh - 112px);
}

.img-wrapper {
  /*inherits from .page-content-wrapper */
  height: inherit; 
}

img.app-loading-wheel {
  height: 200px;
  width: 200px;
  animation: rotate 2s infinite linear;
  /* Setting left and right margins to auto makes this horizontally centered */
  margin-left: auto; 
  margin-right: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
