.form-login-wrapper {
    /* We need to calculate the height of the content below the header
     * using only 100vh will make the form as tall as the viewport, which 
     * when combined with the header, will add unneccesary scroll bars
     */
    height: calc(100vh - 112px);
}

.form-login {
    vertical-align: middle;
    background:white;
    padding: 20px;
    width: 300px;
}

.form-login h1 {
    text-align: center;
    padding: 10px;
}

#login-button-border {
    border-top: 1px solid grey;
    padding-bottom: 10px;
}

#login-error-text-wrapper {
    padding-top: 10px;
    vertical-align: middle;
}

#login-error-text {
    flex: 20px; /* keeps message on the same line as icon for mobile */
    color:red;
    margin-top: 0px;
    margin-left: 5px;
}

.glyph-error {
    color: red;
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .form-login {
        width: 500px;
    }
}